.DS_Store
node_modules/
dist/
images/
*.log
lineBaseCamp.maxpat
lineBaseNewLines.maxpat
lineBaseInForm.maxpat
lineBaseSystem.maxpat
doc/testSequenceForSpaceSwitch .md
rememberTrio.maxpat
max/main.js
max/geometry.js
